[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/kjblanchard/SDL_image.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/kjblanchard/SDL.git
[submodule "external/Lua"]
	path = external/Lua
	url = https://github.com/kjblanchard/Lua.git
[submodule "external/sg_sound"]
	path = external/sg_sound
	url = https://github.com/supergoongaming/sg_sound.git
[submodule "external/goonPhysics"]
	path = external/goonPhysics
	url = https://github.com/kjblanchard/goonPhysics.git
[submodule "external/SDL_ttf"]
	path = external/SDL_ttf
	url = https://github.com/kjblanchard/SDL_ttf.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
